* {
   margin: 0;
   padding: 0;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #131518;
    width: 100vw;
    height: 100vh;
    font-family: 'Overpass', sans-serif;
}

.avaliacao {
    background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
    border-radius: 30px;
    width: 279px;
    height: 312px;
    padding: 24px 24px;
    align-self: center;
}

.avaliacao__estrela {
    background-color: #262E38;
    padding: 20px 20px;
    border-radius:50%;
}

.avaliacao h1 {
    color: #ffffff;
    font-weight: 700;
    margin-top: 10px;

}

.avaliacao__descricao {
    font-size: 14px;
    color: #969FAD;
    margin-top: 10px;
    line-height: 22px;
}

.avaliacao__selecao {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}

.avaliacao__selecao > li {
    list-style-type: none;
    text-decoration: none;
}

.avaliacao__selecao__item {
    border: none;
    text-decoration: none;
    color: #7C8798;
    background-color: #262E38;
    padding: 0.7rem 1rem;
    border-radius: 50%;
    cursor: pointer;
}


.avaliacao__selecao__item--ativo {
    background-color: #7C8798;
    color: white;
}

.avaliacao__botao {
    background-color: #FC7614;
    border-radius: 22.5px;
    width: 279px;
    height: 45px;
    color: #fff;
    border: none;
    margin-top:32px;
    cursor: pointer;
}

.sumir {
    display: none;
}

/*----------- RESPONSIVO ----------- */
@media screen and (min-width:920px){
    .avaliacao__selecao__item:hover {
        background-color: #FC7614;
        color: white;
    }

    .avaliacao__botao:active{
        background-color: white;
        color: #FC7614;
    }
}